n8n/lead-scraping-daily.json
{
  "name": "LunaJoy - Lead Scraping (Daily)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "lead-scrape-001",
      "name": "Every Day 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REPLACE_WITH_YOUR_APP_URL/api/leads/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.N8N_WEBHOOK_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  searchTerms: [\n    \"medical practice\",\n    \"family medicine clinic\",\n    \"primary care physician\",\n    \"behavioral health clinic\"\n  ],\n  locationQuery: \"United States\",\n  maxResults: 25,\n  skipWebsiteEnrichment: false,\n  tags: [\"daily-scrape\"]\n}) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "lead-scrape-002",
      "name": "Scrape Leads (Google Maps → Website → GHL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "lead-scrape-003",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "report",
              "name": "report",
              "value": "={{ '✅ Lead Scraping Report\\n\\nTotal Found: ' + $json.summary.totalFound + '\\nProcessed: ' + $json.summary.processed + '\\nCreated: ' + $json.summary.created + '\\nDuplicates: ' + $json.summary.duplicates + '\\nErrors: ' + $json.summary.errors + '\\nDuration: ' + $json.durationMs + 'ms' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "lead-scrape-004",
      "name": "Format Success Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "report",
              "name": "report",
              "value": "={{ '❌ Lead Scraping FAILED\\n\\nError: ' + ($json.error || 'Unknown error') }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "lead-scrape-005",
      "name": "Format Error Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 420]
    },
    {
      "parameters": {
        "url": "REPLACE_WITH_NOTIFICATION_WEBHOOK_URL",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.report }) }}"
      },
      "id": "lead-scrape-006",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 300]
    }
  ],
  "connections": {
    "Every Day 08:00": {
      "main": [
        [{ "node": "Scrape Leads (Google Maps → Website → GHL)", "type": "main", "index": 0 }]
      ]
    },
    "Scrape Leads (Google Maps → Website → GHL)": {
      "main": [
        [{ "node": "Check Success", "type": "main", "index": 0 }]
      ]
    },
    "Check Success": {
      "main": [
        [{ "node": "Format Success Report", "type": "main", "index": 0 }],
        [{ "node": "Format Error Report", "type": "main", "index": 0 }]
      ]
    },
    "Format Success Report": {
      "main": [
        [{ "node": "Send Notification", "type": "main", "index": 0 }]
      ]
    },
    "Format Error Report": {
      "main": [
        [{ "node": "Send Notification", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "lunajoy-lead-scraping"
  }
}
